ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
RewriteEngine On
RewriteBase /
RewriteRule ^thread/(.*)$ /forum/viewthread.php?thread=$1 [L]
RewriteRule ^unavailable/(.*)$ /forum/nothread.php?thread=$1 [L]